extends ../templates/base

append config
	-currentPage = 2

block main
	section.acm-cover
		h1.title Staff del capitulo
	section.acm-staff
		section.acm-staff_member
			article.acm-staff_imagesection
				img(src="http://placehold.it/200x200").acm-staff_image
				h5.acm-staff_name Juan Pablo Rodriguez Navaro
			article.acm-staff_infosection
				h5.acm-staff_rol Presidente
				p.acm-staff_description Hic sed coniunctione, id quid mentitum eruditionem, aute pariatur iis concursionibus, de anim laboris expetendis de ex malis malis et nostrud, expetendis enim veniam iudicem magna eu commodo culpa duis ex quem ne ne est veniam expetendis.
		section.acm-staff_member
			article.acm-staff_imagesection
				img(src="http://placehold.it/200x200").acm-staff_image
				h5.acm-staff_name Johan Sebastian Murillo Castillo
			article.acm-staff_infosection
				h5.acm-staff_rol Presidente
				p.acm-staff_description Hic sed coniunctione, id quid mentitum eruditionem, aute pariatur iis concursionibus, de anim laboris expetendis de ex malis malis et nostrud, expetendis enim veniam iudicem magna eu commodo culpa duis ex quem ne ne est veniam expetendis.
		section.acm-staff_member
			article.acm-staff_imagesection
				img(src="http://placehold.it/200x200").acm-staff_image
				h5.acm-staff_name Juan Manuel Sánchez Lozano
			article.acm-staff_infosection
				h5.acm-staff_rol Presidente
				p.acm-staff_description Hic sed coniunctione, id quid mentitum eruditionem, aute pariatur iis concursionibus, de anim laboris expetendis de ex malis malis et nostrud, expetendis enim veniam iudicem magna eu commodo culpa duis ex quem ne ne est veniam expetendis.
