.acm-aboutus {
	background: $gray-3;
	color: $white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: $padding * 10;

	.acm-aboutus_content {
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: baseline;
	}

	.acm-aboutus_section {
		width: 450px;
		margin: $margin * 3;
	}

	.acm-aboutus_picturesection {
		width: 250px;
		margin: 0 auto;
		display: block;
	}

	.acm-aboutus_titlesection {
		text-align: center;
	}

	.acm-aboutus_textsection {
		text-align: center;
	}
}

.acm-awards {
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;

	.acm-awards_award {
		width: 350px;
		margin: $margin * 3 $margin * 5;
	}

	.acm-awards_awardpicture {
		width: 100%;
	}

	.acm-awards_awardtitle {
		text-align: center;
	}

	.acm-awards_awardyear {
		text-align: center;
		font-size: 0.7rem;
	}

	.acm-awards_awarddescription {
		text-align: center;
	}
}

.acm-activities {
	display: flex;
	justify-content: center;

	.acm-activities_activity {
		margin: $margin * 3 $margin * 5;
		display: flex;
	}

	.acm-activities_activitytext {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $padding;
		padding-right: $padding * 8;
		width: 500px;
	}

	.acm-activities_activityimage {
		width: 500px;
		height: 500px;
		box-shadow: 0 15px 5px -10px #888;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.acm-activities_activitytext, .acm-activities_activityimage {
		animation: intro 1s ease-out;
	}
}

.acm-projects {
	display: grid;
	width: 1200px;
	height: 600px;
	grid-gap: 1px;
	margin: 0 auto;
	grid-template-areas:
		'a a a a b b b c c c'
		'a a a a b b b c c c'
		'a a a a b b b c c c'
		'a a a a e e e e e e'
		'd d d d e e e e e e'
		'd d d d e e e e e e'
		'd d d d e e e e e e';

	.acm-projects_project {
		position: relative;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease;
		border: 0;

		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
		}

		&:nth-child(4) {
			grid-area: d;
		}

		&:nth-child(5) {
			grid-area: e;
		}

		&:hover {
			z-index: 10;
			transform: scale(1.02);
			border: 1px solid $gray-9;
		}
	}

	.acm-projects_projectpicture, .acm-projects_projecttitle {
		position: absolute;
		width: 100%;
		left: 0;
	}

	.acm-projects_projectpicture {
		top: 0;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.acm-projects_projecttitle {
		bottom: 0;
		margin: 0;
		padding: $padding * 2;
		padding-top: auto;
		text-transform: uppercase;
		text-shadow: 0 2px 0 $gray-6;
	}
}
