footer.footer
	section.copyright_section
		.copyright= name + ' | Copyright © ' + year + ' - Todos los derechos reservados a sus respectivos dueños'
		.github-link
			a(href='https://github.com/' target='_blank')
				span.icon.icon-github
				|  View Source
