navbar.acm-navbar
	img(src="{% static 'images/icon_blue.svg'%}").acm-navbar_logo
	ul.acm-navbar_menu
		li.acm-navbar_menuitem(class= currentPage==1 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Home
		li.acm-navbar_menuitem(class= currentPage==2 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Staff
		li.acm-navbar_menuitem(class= currentPage==3 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Maratones
		li.acm-navbar_menuitem(class= currentPage==4 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Actividades
		li.acm-navbar_menuitem(class= currentPage==5 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Proyectos
		li.acm-navbar_menuitem(class= currentPage==6 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link Tutoriales
		li.acm-navbar_menuitem(class= currentPage==7 ? "acm-navbar__current" : "")
			a(href="").acm-navbar_link ¡Únete!
		
