.acm-section {
	padding: $padding * 10;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.acm-section_title {
		text-align: center;
		margin-bottom: $margin * 5;
	}
}
