{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Capítulo Javeriano ACM</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
		<navbar class="acm-navbar"><img class="acm-navbar_logo" src="{% static 'images/icon_blue.svg'%}">
			<ul class="acm-navbar_menu">
				<li class="acm-navbar_menuitem acm-navbar__current"><a class="acm-navbar_link" href="">Home</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">Staff</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">Maratones</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">Actividades</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">Proyectos</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">Tutoriales</a></li>
				<li class="acm-navbar_menuitem"><a class="acm-navbar_link" href="">¡Únete!</a></li>
			</ul>
		</navbar>
		<section class="acm-maincover"><img class="acm-maincover_logo" src="{% static 'images/icon_white.svg'%}">
			<h1 class="title">Capítulo Javeriano ACM</h1>
		</section>
		<section class="acm-section acm-aboutus">
			<section class="acm-aboutus_content">
				<article class="acm-aboutus_section"><img class="acm-aboutus_picturesection" src="{% static 'images/acm_icon.png' %}">
					<h2 class="sub_title acm-aboutus_titlesection">¿Qué es ACM?</h2>
					<p class="acm-aboutus_textsection">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.</p>
				</article>
				<article class="acm-aboutus_section"><img class="acm-aboutus_picturesection" src="{% static 'images/icon_blue.svg'%}">
					<h2 class="sub_title acm-aboutus_titlesection">¿Qué es el capítulo?</h2>
					<p class="acm-aboutus_textsection">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.</p>
				</article>
			</section>
		</section>
		<section class="acm-section">
			<h1 class="sub_title acm-section_title">¿Qué hemos ganado?</h1>
			<section class="acm-awards">
				<article class="acm-awards_award"><img class="acm-awards_awardpicture" src="{% static 'images/award_2013.jpg' %}">
					<h4 class="acm-awards_awardtitle">Actividades destacadas</h4>
					<p class="acm-awards_awardyear">2013</p>
					<p class="acm-awards_awarddescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit.</p>
				</article>
				<article class="acm-awards_award"><img class="acm-awards_awardpicture" src="{% static 'images/award_2015.jpg' %}">
					<h4 class="acm-awards_awardtitle">Pagina Web destacada</h4>
					<p class="acm-awards_awardyear">2015</p>
					<p class="acm-awards_awarddescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit.</p>
				</article>
				<article class="acm-awards_award"><img class="acm-awards_awardpicture" src="{% static 'images/award_2016.jpeg' %}">
					<h4 class="acm-awards_awardtitle">Actividades destacadas</h4>
					<p class="acm-awards_awardyear">2016</p>
					<p class="acm-awards_awarddescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit.</p>
				</article>
			</section>
		</section>
		<section class="acm-section">
			<h1 class="sub_title acm-section_title">Actividades del capítulo</h1>
			<section class="acm-activities">
				<article class="acm-activities_activity">
					<section class="acm-activities_activitytext">
						<h3>Actividad</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.</p>
					</section>
					<section class="acm-activities_activityimage"><img src="http://via.placeholder.com/500x500"></section>
				</article>
			</section>
		</section>
		<section class="acm-section">
			<h1 class="sub_title acm-section_title">Nuestros proyectos</h1>
			<section class="acm-projects">
				<article class="acm-projects_project"><img class="acm-projects_projectpicture" src="http://via.placeholder.com/500x400">
					<h5 class="acm-projects_projecttitle">Web design</h5>
				</article>
				<article class="acm-projects_project"><img class="acm-projects_projectpicture" src="http://via.placeholder.com/500x400">
					<h5 class="acm-projects_projecttitle">Digital</h5>
				</article>
				<article class="acm-projects_project"><img class="acm-projects_projectpicture" src="http://via.placeholder.com/500x400">
					<h5 class="acm-projects_projecttitle">Identity</h5>
				</article>
				<article class="acm-projects_project"><img class="acm-projects_projectpicture" src="http://via.placeholder.com/500x400">
					<h5 class="acm-projects_projecttitle">Web design</h5>
				</article>
				<article class="acm-projects_project"><img class="acm-projects_projectpicture" src="http://via.placeholder.com/500x400">
					<h5 class="acm-projects_projecttitle">Strategy</h5>
				</article>
			</section>
		</section>
		<footer class="footer">
			<div class="footer_content">
				<section class="footer_section footer_subcontent align-center"><img class="footer_logo" src="{% static 'images/javeriana_icon.png' %}">
					<section>
						<p>Pontificia Universidad Javeriana</p>
						<p>Bogotá D.C - Colombia</p>
						<p>Carrera 7 No. 40 - 62</p>
						<p>(57 1) 3208320</p>
					</section>
				</section>
				<section class="footer_section">
					<h6 class="footer_section_title">Redes sociales</h6>
					<p><a href="https://www.facebook.com/acmjaveriana/" target="_blank"><span class="acm acm-facebook footer_icon"></span><span>ACMJaveriana</span></a></p>
					<p><a href="https://twitter.com/ACMJaveriana" target="_blank"><span class="acm acm-twitter footer_icon"></span><span>ACMJaveriana</span></a></p>
					<p><a href="https://www.youtube.com/channel/UC3PymX73H7qF6-VJS-wuyJA" target="_blank"><span class="acm acm-youtube footer_icon"></span><span>Capítulo Javeriano ACM</span></a></p>
					<p><a href="https://github.com/CapituloJaverianoACM" target="_blank"><span class="acm acm-github footer_icon"></span><span>CapituloJaverianoACM</span></a></p>
					<p><a mailto="acm@javeriana.edu.co" target="_blank"><span class="acm acm-envelope footer_icon"></span><span>acm@javeriana.edu.co</span></a></p>
				</section>
				<section class="footer_section">
					<h6 class="footer_section_title">Desarrolladores encargados</h6>
					<p><a href="https://github.com/johan-smc" target="_blank"><span class="acm acm-user footer_icon"></span><span>Johan Sebastian Murillo Castillo</span></a></p>
					<p><a href="https://github.com/JuanPabloRN30" target="_blank"><span class="acm acm-user footer_icon"></span><span>Juan Pablo Rodriguez Navarro</span></a></p>
					<p><a href="https://github.com/juanmsl" target="_blank"><span class="acm acm-user footer_icon"></span><span>Juan Manuel Sánchez Lozano</span></a></p>
				</section>
				<section class="footer_section">
					<h6 class="footer_section_title">¿Preguntas o comentarios? ¡Contactanos!</h6>
					<form class="contact-form">
						<textarea class="contact-form_message" rows="3" placeholder="Tu mensaje, comentario ó sugerencia"></textarea>
						<section class="contact-form_section">
							<input class="contact-form_email" type="email" placeholder="Correo">
							<button class="btn btn_active contact-form_submit">Enviar</button>
						</section>
					</form>
				</section>
			</div>
			<section class="copyright_section">
				<div class="copyright">ACM Website | Copyright © 2018 - Todos los derechos reservados a sus respectivos dueños</div>
			</section>
		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdn.rawgit.com/lukehaas/Scrollify/a6557d52/jquery.scrollify.js"></script>
		<script src="https://cdn.rawgit.com/mburakerman/prognroll/master/src/prognroll.js"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
	</body>
</html>