{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Capitulo ACM</title>
		<meta charset="utf-8">
		<meta X-Frame-Options="deny">
		<link rel="icon" type="image/png" href="resources/images/icon.png">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
		<div class="maincontent">
			<h1>Hello ACM</h1>
		</div>
		<footer class="footer">
			<div class="copyright">Capitulo ACM | Copyright © 2017 - Todos los derechos reservados a sus respectivos dueños</div>
			<div class="github-link"><a class="icon icon-github" href="">View Source</a></div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--script(src="js/jquery-3.2.1.min.js")-->
		<script src="js/push.min.js"></script>
		<script src="js/viewport-size.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>