extends ../templates/base

block footer
	include ../components/footer

block maincontent
	img(src="{% static 'images/icon.png' %}").acm-logo
	h1
		span.acm.acm-cog
		|     En desarrollo... Proximamente  
		span.acm.acm-cog
