.acm-inlineform {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: $padding * 3 $padding;
	padding-bottom: $padding;

	@include from(laptop) {
		flex-direction: row;
	}

	input[type='text'] {
		padding: $padding;
		transition: all 0.3s ease-out;

		&:focus {
			flex-grow: 0.5;
		}
	}

	.acm-form_inlineChoices {
		display: grid;
		grid-gap: $margin;
		grid-auto-flow: column;
		padding: 0 $padding;
	}

	.acm-form_choise {
		position: relative;

		label {
			padding: $padding;
		}

		input[type='radio'] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			&:checked ~ label {
				background: $form-choise-checked-background;
				color: $form-choise-checked-color;
			}
		}
	}
}
